<!DOCTYPE html>
<html lang="{{mainCtrl.lang}}" ng-controller="DesktopController as mainCtrl" ng-strict-di>
  <head>
    <title ng-bind-template="{{'Desktop Application'|translate}}">GeoMapFish</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="dynamicUrl" content="https://geomapfish-demo-2-7.camptocamp.com/dynamic.json">
    <meta name="interface" content="desktop">
    <link rel="shortcut icon" href="<%=require("./image/favicon.ico")%>" crossorigin="anonymous" />
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" crossorigin="anonymous">
    <% } %>
  </head>
  <body ng-class="{'gmf-profile-chart-active': !!profileChartActive, 'gmf-query-grid-active': !!mainCtrl.queryGridActive}" ng-keydown="mainCtrl.onKeydown($event)">
    <div ng-show="mainCtrl.loading" class="loading-mask">
      <i class="fa custom-spinner-loading fa-spin spinner-loading-mask">
        <%=require('gmf/icons/spinner.svg?viewbox&height=1em')%>
      </i>
    </div>
    <gmf-header gmf-header-template-url="desktop/header.html"></gmf-header>
    <main>
      <div class="gmf-app-data-panel"
           ngeo-resizemap="mainCtrl.map"
           ngeo-resizemap-state="mainCtrl.dataPanelActive"
           ng-class="{'gmf-app-inactive': !mainCtrl.dataPanelActive}">
        <div class="gmf-app-header">
          <div class="dropdown">
            <a href
               class="btn btn-block prime dropdown-toggle"
               data-toggle="dropdown">
              <span class="fa fa-grid"></span>
              <span ng-if="mainCtrl.gmfThemeManager.modeFlush">
                <span translate>Theme:</span>
                <b ng-if="mainCtrl.gmfThemeManager.isLoading()" translate>Loading...</b>
                <b ng-if="!mainCtrl.gmfThemeManager.isLoading()">{{mainCtrl.gmfThemeManager.getThemeName()|translate}}</b>
              </span>
              <span ng-if="!mainCtrl.gmfThemeManager.modeFlush">
                <b ng-if="!mainCtrl.gmfThemeManager.themeName" translate>Themes</b>
              </span>
            </a>
            <gmf-themeselector class="dropdown-menu"
              gmf-themeselector-currenttheme="mainCtrl.theme"
              gmf-themeselector-filter="::mainCtrl.filter">
            </gmf-themeselector>
          </div>
        </div>
        <div class="gmf-app-content">
          <gmf-layertree
            gmf-layertree-dimensions="mainCtrl.dimensions"
            gmf-layertree-map="::mainCtrl.map">
          </gmf-layertree>
        </div>
      </div>
      <div class="gmf-app-tools" ngeo-resizemap="mainCtrl.map" ngeo-resizemap-state="mainCtrl.toolsActive"  ng-class="{'gmf-app-inactive' : !mainCtrl.toolsActive}">
        <div class="gmf-app-bar">
          <div ngeo-btn-group class="btn-group-vertical" ngeo-btn-group-active="mainCtrl.toolsActive">
            <button ngeo-btn class="btn btn-default" ng-model="mainCtrl.loginActive"
              data-toggle="tooltip" data-placement="left" data-original-title="{{'Login'|translate}}">
              <span class="fa fa-user" ng-class="mainCtrl.gmfUser.username ? 'fa-user-times' : 'fa-user'"></span>
            </button>
            <button ngeo-btn class="btn btn-default" ng-model="mainCtrl.printPanelActive"
              data-toggle="tooltip" data-placement="left" data-original-title="{{'Print'|translate}}">
              <span class="fa fa-print"></span>
            </button>
            <button ngeo-btn class="btn btn-default" ng-model="mainCtrl.drawFeatureActive"
              data-toggle="tooltip" data-placement="left" data-original-title="{{'Draw and Measure'|translate}}">
              <span class="fa fa-paint-brush"></span>
            </button>
            <button ngeo-btn class="btn btn-default" ng-model="mainCtrl.filterSelectorActive"
              data-toggle="tooltip" data-placement="left" data-original-title="{{'Filter'|translate}}">
              <span
                class="fa"
                ng-class="mainCtrl.gmfDataSourceBeingFiltered.dataSource && mainCtrl.gmfDataSourceBeingFiltered.dataSource.filterRules ? 'fa-funnel-dollar' : 'fa-filter'"></span>
            </button>
            <button ngeo-btn class="btn btn-default" ng-model="mainCtrl.editFeatureActive"
              data-toggle="tooltip" data-placement="left" data-original-title="{{'Editing'|translate}}"
              ng-show="mainCtrl.hasEditableLayers">
              <span class="fa fa-edit"></span>
            </button>
            <button ngeo-btn class="btn btn-default" ng-model="mainCtrl.drawProfilePanelActive"
              data-toggle="tooltip" data-placement="left" data-original-title="{{'Profile'|translate}}">
              <span class="fa fa-chart-area"></span>
            </button>
            <button ngeo-btn class="btn btn-default" ng-model="mainCtrl.queryPanelActive"
              data-toggle="tooltip" data-placement="left" data-original-title="{{'Selection'|translate}}">
              <span>
                <i class="fa fa-mouse-pointer"></i>
                <i class="fa fa-info fa-xs offset-info-icon"></i>
              </span>
            </button>
            <button ngeo-btn class="btn btn-default" ng-model="mainCtrl.importDataSourceActive"
                    data-toggle="tooltip" data-placement="left" data-original-title="{{'Import Layer'|translate}}">
              <span class="fa fa-upload"></span>
            </button>
          </div>
          <br/>
          <br/>
          <span data-toggle="tooltip" data-placement="left" data-original-title="{{'Share this map'|translate}}">
            <button ngeo-btn class="btn btn-default" ng-model="mainCtrl.modalShareShown">
              <span class="fa fa-share-alt"></span>
            </button>
          </span>
        </div>
        <div
            class="gmf-app-tools-content container-fluid"
            ng-class="{'gmf-app-active': mainCtrl.toolsActive, 'gmf-app-inactive': !mainCtrl.toolsActive }">
            <div class="row"
                ng-show="mainCtrl.loginActive">
              <div class="col-sm-12">
                <a class="btn close gmf-close" ng-click="mainCtrl.loginActive = false">&times;</a>
                <gmf-auth-panel ng-show="mainCtrl.loginActive"
                  ng-prop-login_info_message="mainCtrl.loginInfoMessage"
                  ng-prop-post_loading="mainCtrl.postLoading"
                  ng-prop-password_validator="mainCtrl.passwordValidator"
                ></gmf-auth-panel>
            </div>
          </div>
          <div ng-show="mainCtrl.printPanelActive" class="row">
            <div class="col-sm-12">
              <div class="gmf-app-tools-content-heading">
                {{'Print' | translate}}
                <a class="btn close" ng-click="mainCtrl.printPanelActive = false">&times;</a>
              </div>
              <gmf-print
                gmf-print-map="::mainCtrl.map"
                gmf-print-active="mainCtrl.printActive">
              </gmf-print>
            </div>
          </div>
          <div ng-show="mainCtrl.drawFeatureActive" class="row">
            <div class="col-sm-12">
              <div class="gmf-app-tools-content-heading">
                {{'Draw and Measure'|translate}}
                <a class="btn close" ng-click="mainCtrl.drawFeatureActive = false">&times;</a>
              </div>
              <gmf-drawfeature
                  gmf-drawfeature-active="mainCtrl.drawFeatureActive"
                  gmf-drawfeature-layer="::mainCtrl.drawFeatureLayer"
                  gmf-drawfeature-map="::mainCtrl.map">
              </gmf-drawfeature>
            </div>
          </div>
          <div ng-show="mainCtrl.filterSelectorActive" class="row">
            <div class="col-sm-12">
              <div class="gmf-app-tools-content-heading">
                {{'Filter'|translate}}
                <a class="btn close" ng-click="mainCtrl.filterSelectorActive = false">&times;</a>
              </div>
              <gmf-filterselector
                  active="mainCtrl.filterSelectorActive"
                  map="mainCtrl.map"
                  tool-group="::mainCtrl.mapToolsGroup"
                  filter-is-applied="mainCtrl.filterIsApplied">
              </gmf-filterselector>
            </div>
          </div>
          <div ng-show="mainCtrl.editFeatureActive" class="row">
            <div class="col-sm-12">
              <div class="gmf-app-tools-content-heading">
                {{'Editing'|translate}}
                <a class="btn close" ng-click="mainCtrl.editFeatureActive = false">&times;</a>
              </div>
              <div ng-switch="mainCtrl.gmfUser.username">
                <div ng-switch-when="null">
                  {{'In order to use the editing tool, you must log in first.' | translate}}
                </div>
                <gmf-editfeatureselector
                    ng-switch-default
                    gmf-editfeatureselector-active="mainCtrl.editFeatureActive"
                    gmf-editfeatureselector-map="::mainCtrl.map"
                    gmf-editfeatureselector-vector="::mainCtrl.editFeatureVectorLayer">
                </gmf-editfeatureselector>
              </div>
            </div>
          </div>
          <div ng-show="mainCtrl.drawProfilePanelActive" class="row profile-panel">
            <div class="col-sm-12">
              <div class="gmf-app-tools-content-heading">
                {{'Profile'|translate}}
                <a class="btn close" ng-click="mainCtrl.drawProfilePanelActive = false">&times;</a>
              </div>
              <div gmf-drawprofileline
                   gmf-drawprofileline-active="mainCtrl.drawProfilePanelActive"
                   gmf-drawprofileline-map="::mainCtrl.map"
                   gmf-drawprofileline-line="mainCtrl.profileLine">
                 <p>
                  <button class="btn prime"
                    ngeo-btn ng-model="ctrl.interaction.active"
                    translate>
                    Draw profile line
                  </button>
                </p>
                <p>
                  <em translate ng-if="ctrl.interaction.active" class="text-muted small">
                    Draw a line on the map to display the corresponding elevation profile.
                    Use double-click to finish the drawing.
                  </em>
                </p>
              </div>
            </div>
          </div>
          <div ng-show="mainCtrl.queryPanelActive" class="row">
            <div class="col-sm-12">
              <div class="gmf-app-tools-content-heading">
                {{'Selection'|translate}}
                <a class="btn close" ng-click="mainCtrl.queryPanelActive = false">&times;</a>
              </div>
              <ngeo-query-panel></ngeo-query-panel>
            </div>
          </div>
          <div ng-show="mainCtrl.importDataSourceActive" class="row">
            <div class="col-sm-12">
              <div class="gmf-app-tools-content-heading">
                {{'Import Layer'|translate}}
                <a class="btn close" ng-click="mainCtrl.importDataSourceActive = false">&times;</a>
              </div>
              <gmf-importdatasource map="mainCtrl.map">
              </gmf-importdatasource>
            </div>
          </div>
        </div>
      </div>
      <div class="gmf-app-map-container" ng-class="{'gmf-app-infobar-active': mainCtrl.options.showInfobar}">
        <gmf-search gmf-search-map="::mainCtrl.map"></gmf-search>
        <ngeo-mapswipe
          ng-if="mainCtrl.gmfLayerBeingSwipe.layer != null"
          map="::mainCtrl.map"
          layer="mainCtrl.gmfLayerBeingSwipe.layer"
          swipe-value="mainCtrl.gmfLayerBeingSwipe.swipeValue">
        </ngeo-mapswipe>
        <div id="ol-zoom-control"></div>
        <ngeo-displaywindow
          content="mainCtrl.displaywindowContent"
          desktop="true"
          height="mainCtrl.displaywindowHeight"
          open="mainCtrl.displaywindowOpen"
          title="mainCtrl.displaywindowTitle"
          url="mainCtrl.displaywindowUrl"
          width="mainCtrl.displaywindowWidth"
        ></ngeo-displaywindow>
        <button ngeo-geolocation=""
            ngeo-geolocation-map="::mainCtrl.map"
            ngeo-geolocation-loading="mainCtrl.loading"
            ng-if="::mainCtrl.options.geolocalisation">
            <span class="far fa-dot-circle"></span>
        </button>
        <div class="gmf-app-map-bottom-controls">
          <div class="gmf-backgroundlayerbutton btn-group dropup">
            <button
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
              <img src="<%=require('./image/background-layer-button.png')%>" alt="" crossorigin="anonymous" />
            </button>
            <gmf-backgroundlayerselector
              gmf-backgroundlayerselector-map="::mainCtrl.map"
              class="dropdown-menu">
            </gmf-backgroundlayerselector>
          </div>
          <div class="gmf-app-map-messages">
            <gmf-disclaimer
              gmf-disclaimer-map="::mainCtrl.map"
              gmf-disclaimer-external-msg="disclaimerMsg"
              gmf-disclaimer-external-visibility="disclaimerVisibility">
            </gmf-disclaimer>
          </div>
          <gmf-displayquerywindow
            ng-if="!mainCtrl.queryGrid"
            gmf-displayquerywindow-draggable-containment="::mainCtrl.displaywindowDraggableContainment"
            gmf-displayquerywindow-desktop="::true">
          </gmf-displayquerywindow>
        </div>
        <gmf-map
          class="gmf-map"
          gmf-map-map="mainCtrl.map"
          gmf-map-manage-resize="mainCtrl.manageResize"
          gmf-map-resize-transition="mainCtrl.resizeTransition"
          gmf-contextualdata=""
          gmf-contextualdata-displayed="mainCtrl.contextdataActive"
          gmf-contextualdata-map="::mainCtrl.map">
        </gmf-map>
        <ngeo-query
          active="mainCtrl.queryActive"
          autoclear="mainCtrl.queryAutoClear"
          map="::mainCtrl.map">
        </ngeo-query>

        <!--infobar-->
        <div class="gmf-app-footer" ng-class="{'gmf-app-active': mainCtrl.options.showInfobar}">
          <button class="btn fa gmf-app-map-info" ng-click="mainCtrl.options.showInfobar = !mainCtrl.options.showInfobar"
                  ng-class="{'fa-angle-double-up': !mainCtrl.options.showInfobar, 'fa-angle-double-down': mainCtrl.options.showInfobar}"></button>

          <div ngeo-scaleselector ngeo-scaleselector-map="mainCtrl.map"></div>
          <div id="scaleline"></div>
          <div class="pull-right">
            <gmf-elevationwidget
                gmf-elevationwidget-map="::mainCtrl.map"
                gmf-elevationwidget-active="::mainCtrl.options.showInfobar">
            </gmf-elevationwidget>
            <gmf-mouseposition
                 gmf-mouseposition-map="mainCtrl.map"
                 class="text-center">
            </gmf-mouseposition>
          </div>
        </div>
      </div>
      <ngeo-modal ng-model="mainCtrl.modalShareShown">
        <gmf-share ng-if="mainCtrl.modalShareShown"></gmf-share>
      </ngeo-modal>
      <ngeo-modal ng-model="disclaimerVisibility">
        <div class="modal-header ui-draggable-handle">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div ng-bind-html="disclaimerMsg"></div>
        </div>
      </ngeo-modal>
    </main>
    <footer>
      <gmf-profile
        gmf-profile-active="profileChartActive"
        gmf-profile-line="mainCtrl.profileLine"
        gmf-profile-map="::mainCtrl.map"
        ngeo-resizemap="mainCtrl.map"
        ngeo-resizemap-state="profileChartActive">
      </gmf-profile>
      <gmf-displayquerygrid
        ng-if="mainCtrl.queryGrid"
        gmf-displayquerygrid-active="mainCtrl.queryGridActive"
        gmf-displayquerygrid-map="::mainCtrl.map"
        ngeo-resizemap="mainCtrl.map"
        ngeo-resizemap-state="mainCtrl.queryGridActive">
      </gmf-displayquerygrid>
    </footer>
    <script nomodule>
      alert(
        'Your browser is not supported, please use a recent version of Firefox, Chrome or Edge.\n\n' +
        "Votre navigateur n'est pas supporté, veuillez utiliser une version récente de Firefox, Chrome or Edge.\n\n" +
        'Ihr Browser wird nicht unterstützt, bitte verwenden Sie eine aktuelle Version von Firefox, Chrome oder Edge.'
      );
    </script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,default-3.6,Array.prototype.includes,Object.entries,Object.values" crossorigin="anonymous"></script>
    <script src="../../../dist/vendor.js?${htmlWebpackPlugin.options.vars.version}" crossorigin="anonymous"></script>
    <% for (var js in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[js] %>" crossorigin="anonymous"></script>
    <% } %>
  </body>
</html>
